<h1>I-Owe-U</h1><h2 class='alt'>the money$ tracker</h2>

<hr />
<h2><%= link_to "Make a new I-O-U >>", url(:new_transaction)%></h2>
<hr />

<p>
  <h3><%= link_to "Users", url(:users)%>:</h3>
  <% @users.each_with_index do |u, i| %>
    <%= link_to u.name, url(:user, u) %><%= ', ' unless (i + 1) == @users.size %>  
  <% end %>
</p>

<hr />

<h4>IOU's for the past week</h4>
  <ul>
  <% @new_transactions.each do |t| %>
    <li>
    <%=link_to t.sender.name, url(:user, t.sender) %> owes <%=link_to t.receiver.name, url(:user, t.receiver) %> <%= money t.value %>
    </li>
  <% end %>
  </ul>

